<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand d-md-none" href="/"><i class="fa fa-home" aria-hidden="true"></i></a>
  <a class="navbar-brand d-md-none" href="#"><i class="fa fa-camera" aria-hidden="true"></i></a>
  <a class="navbar-brand d-md-none" href="#"><i class="fa fa-language" aria-hidden="true"></i></a>
  <a class="navbar-brand d-md-none" href="#"><i class="fa fa-file-text" aria-hidden="true"></i></a>
  <a class="navbar-brand d-md-none" href="#"><i class="fa fa-play" aria-hidden="true"></i></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="navbar-brand nav-link" href="/"><i class="fa fa-home" aria-hidden="true"></i> MarkerCode</a>
      </li>
      <li class="nav-item active">
        <a class="navbar-brand nav-link" href="#"><i class="fa fa-camera" aria-hidden="true"></i> Upload</a>
      </li>
      <li class="nav-item dropdown show nav-item dropdown">
        <a class="navbar-brand dropdown-toggle" data-toggle="dropdown" href="#"  id="dropdownMenuLink"><i class="fa fa-language" aria-hidden="true"></i> Languge</a>

        <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Python</a>
        <a class="dropdown-item" href="#">Java</a>
        <a class="dropdown-item" href="#">C++</a>
        <a class="dropdown-item" href="#">C</a>
      </li>
      <li class="nav-item">
        <a class="navbar-brand nav-link" href="#"><i class="fa fa-file-text" aria-hidden="true"></i> Edit</a>

      </li>
      <li class="nav-item">

        <a class="navbar-brand nav-link" href="#"><i class="fa fa-play" aria-hidden="true"></i> Run</a>
      </li>
    </ul>
      <a class="navbar-brand nav-link" href="/login"><i class="fa fa-user-o" aria-hidden="true"></i> Sign in</a>
      <a class="btn btn-outline-primary" href="#">Sign up</a>
  </div>
</nav>
